<section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Acerca de Nosotros</h1>
                    <p>
                        ¡Bienvenidos! Somos una destacada tienda de bicicletas en Colombia con múltiples sucursales en todo el país. Nos enorgullece ofrecer una amplia variedad de marcas, desde renombradas a locales, para satisfacer las necesidades de cada ciclista. Nuestra pasión por el ciclismo impulsa nuestro compromiso de promover un estilo de vida activo y sostenible a través de la excelencia en productos y servicio. Únete a nosotros mientras continuamos siendo un pilar en la comunidad ciclista colombiana.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Nuestros Servicios</h1>
                <p>
                    Explora nuestra tienda de bicicletas en Colombia, donde encontrarás desde mantenimiento personalizado y una variada gama de productos y accesorios.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-tools"></i></div>
                    <h2 class="h5 mt-4 text-center">Mantenimiento Personalizado</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-bicycle"></i></div>
                    <h2 class="h5 mt-4 text-center">Productos de <br> Ciclismo</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-shopping-cart"></i></div>
                    <h2 class="h5 mt-4 text-center">Venta de <br> Bicicletas</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                    <h2 class="h5 mt-4 text-center">Asesoramiento Especializado</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Asociados</h1>
                    <p>
                        Con nuestros asociados, elevamos la experiencia ciclista en Colombia al ofrecer productos y servicios de primer nivel.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="https://bikecolombia.com/"><img class="img-fluid brand-img" src="../../assets/img/Logos/Asociados/bikecolombia.png" alt="Biketech"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="https://bikecolonia.com/"><img class="img-fluid brand-img" src="../../assets/img/Logos/Asociados/ms.png" alt="Bikecolonia"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="bikelabproducts.com"><img class="img-fluid brand-img" src="../../assets/img/Logos/Asociados/bikelab.png" alt="Bikelab"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="revistapedalea.com"><img class="img-fluid brand-img" src="../../assets/img/Logos/Asociados/pedaleacafe.png" alt="Pedaleacafe"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->
