 <!-- Start Content Page -->
 <div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Contactanos</h1>
        <p>
            Si tienes alguna pregunta, comentario o sugerencia, estaremos encantados de escucharte.
            Nuestro equipo está aquí para ayudarte en lo que necesites.
        </p>
    </div>
</div>

<!-- Start Map -->
<div class="col-md-6 m-auto text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.989158144148!2d-75.59358331459786!3d6.266581900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4429143aaaaaab%3A0xf2ad637e92a707a2!2sUpb!5e0!3m2!1ses-419!2sco!4v1692944209446!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" scrolling="no"></iframe>
</div>
<!-- End Map -->
<div class="col-md-8 m-auto text-center">
    <hr style="border-top: 2px solid black;">
</div>
<!-- Start Contact -->
<div class="container py-3">
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" role="form">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputname">Nombre</label>
                    <input type="text" class="form-control mt-1" id="nombre" name="nombre" placeholder="Ingresa tu nombre completo">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">Email</label>
                    <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Ingresa tu email">
                </div>
            </div>
            <div class="mb-3">
                <label for="inputsubject">Asunto</label>
                <input type="text" class="form-control mt-1" id="subject" name="asunto" placeholder="Ingresa el motivo">
            </div>
            <div class="mb-3">
                <label for="inputmessage">Mensaje</label>
                <textarea class="form-control mt-1" id="message" name="mensaje" placeholder="Describe el motivo" rows="8"></textarea>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->
